.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 9, 9);
    position: sticky;
    top: 0;
  }

  .active {
    background-color: rgb(179, 15, 15);
  }

   li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover:not(.active) {
    background-color: rgb(73, 71, 71);
  }

  /* Style the content */
.content {
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.custom-tooltip {
  color:  #070404;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
  padding: auto;
}

.custom-tooltip p{
  margin: auto;
}