<h2>My Stocks</h2>
<div>
  <label for="new-stock">Stock name: </label>
  <input id="new-stock" #stockName />
  <label for="new-value">Stock value: </label>
  <input type="number" id="new-value" #stockValue />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(stockName.value,stockValue.value);
  stockName.value='';stockValue.value=''">
    Add stock
  </button>

  <button class="back-button" (click)="goBack()">Go Back</button>

</div>
<ul class="stocks">
  <li *ngFor="let stock of stocks">
    <a routerLink="/detail/{{stock.id}}">
      <span class="badge">{{stock.id}}</span> {{stock.name}}
    </a>
    <button class="delete" title="delete stock"
    (click)="delete(stock)">x</button>
  </li>
</ul>